@import "variables.scss";
@import "functions.scss";
@import "tiles.scss";
@import "redis.scss";
@import "tables.scss"; 
@import "blobs.scss"; 

#wrapperAzure {
	font-family: $fontFamily;
	height: 100%;
}

/*Header*/
.navbar {
	min-height: 40px;
	white-space: nowrap;
	margin-bottom: 0px;
}

.navbar-brand {
	height: 40px;
	padding: 2px 9px 10px 8px;
	font-size: 19px;
	.icon-cloud {
		font-size: 40px;
		vertical-align: -27%;
		line-height: 0.8;
		padding-right: 5px;
		padding-left: 3px;
	}
	.fa {
		font-size: 30px;
		vertical-align: -12%;
		line-height: 1.2;
		padding-right: 5px;
	}
}

.navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:focus  {
	color: #ffffff;  
}

#navbar-win-control {
	float: right;
	margin: 0px;
	padding: 0px;
	.navbar-nav {
		margin: 0px;
		padding: 6px;
		li {
			padding: 2px 0px 0 0;
		}		
	}
	[class*="icon-"].fa {
		font-size: 12px;
		vertical-align: -2px;
	} 
	.fa {
		font-size: 18px;
		
	} 
}

/*Dialog windows*/

.popup {
	margin: 0;
	position: absolute;
	left: calc(50% - 250px);
	top: calc(50% - 119px);
	display: inline-block; 
	z-index: z-ind("popup");
	box-shadow: 0px 0px 14px rgba(0,0,0,0.4);
	.panel-heading {
		padding: 8px 15px;
		font-size: 15px;
		word-break: break-all;
	}
	.checkbox .checkbox-label:before {
		height: 21px;
		width: 21px;
		border: 2px #d9d9d9 solid;
	}
	.btn-group {
		float: right; 
		margin-top: 10px;
	}
	.btn-default {
		&:active{
			box-shadow: inset 0 2px 6px rgba(0,0,0,.125);
		}
	}
}
.input-group-sm>.input-group-addon {
	padding: 5px 8px;
	width: 96px;
	float: left;
}

.input-group-sm>.input-group-sm {
	margin-top:2px;
}

.input-group .form-control {
	width: 372px;
	float: left;
}

.details-textarea {
	min-width: 600px;
	min-height: 300px;
	width: 100%;
	font-size: 13px;
	padding: 6px;
	background: $bg-colorBlock; 
	border: $borderTable;		
}

.panel-warning.popup {
	width: 500px; 
} 

/*Load indicator*/

.loading {
	width: 367px;
	height: 301px;
	padding: 108px;
	text-align: center;
	position: absolute;
	left: calc(50% - 183px);
	top: calc(50% - 150px);
	background: url(../img/Loading.png) no-repeat 0 0;
	z-index: z-ind("loading");
	line-height: 22px;
	.fa {
		padding: 4px;
		font-size: 32px;
		color: #2e8bcc;
	}
	a {
		cursor: pointer;
	}
}

/*Body*/

.wrapLeftBlock, .wrapRightBlock{
	height: 100%;
}

.tileFunction {
	display: block;
	cursor: pointer;
	float: left;
	text-align: center;	
	color: #ffffff;
	&:active {
		transform: perspective(200px) rotateX(0.2rad);
		transform-origin: 50% bottom;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		&:hover {
			text-decoration: none;
		}
	}	
}

/*Begin Functional panel*/

.headBlock {
	color: #ffffff;
	height: 30px;
	line-height: 28px;
	font-size: 16px;
	white-space: nowrap;
}

#navbarFunction {
	margin: 0px;
	padding: 0px;
	overflow: hidden !important;
	min-width: 500px;
	.navbar-nav {
		margin: 0px;
		padding: 0px 5px;
		li {
			padding: 2px 2px 0 0;
		}		
	}
}

.functionButton {
	display: block;
	cursor: pointer;
	width: 26px;
	height: 26px;
	a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		text-align: center;
		color: #fff;
		&:hover {
			text-decoration: none;
			border: 1px solid;
			margin: -1px 0 0 0px;
		}
		&:active {
			transform: perspective(200px) rotateX(0.2rad);
			transform-origin: 50% bottom;
		}
	}
	.fa {
		font-size: 20px;
		vertical-align: -3px;
	} 
}


.delimiter-tiles {
	border-left: $borderBlock;
	height: 20px;
    margin: 4px 6px 2px 6px;
}

/*End functional panel*/

.bodyLeftBlock, .bodyRightBlock {
	background: $bg-colorBlock;
	height: calc(100% - 30px);
	padding: 8px 9px;
}

.bodyRightBlock {
	background: #fff;
	padding: 8px 9px 8px 10px;
}

.wrapRightBlock {
	#navbarFunction .navbar-nav {
		padding: 0px 6px;
	}
}

.forBlobs {
	.wrapRightBlock #navbarFunction .navbar-nav {
		padding: 0px 8px;
	}
}

.searchBar {
	margin-bottom: 8px;
	.form-control { 
		float: none; 
		max-height: 250px; 
		height: 24px;
		border: 1px solid #b4b4b4;
		padding: 1px 22px 1px 6px;
		font-size: 13px;
		width: 100%;
		resize: vertical;
	}
	.functionButton {
		width: 24px;
		height: 24px;
		margin: 0;
		float: left;
		a {
			text-align: left;
			&:hover {
				border: none;
				margin: 0px; 
			}
			&:active {
				transform: perspective(200px) rotateX(0.2rad);
				transform-origin: 50% bottom;
			}
		}
		.fa {
			font-size: 18px;
			padding-top: 3px;
			padding-left: 3px;
		}
	}
}

.saerchText {
	position: relative;
	width: calc(100% - 24px);
	float: left;
}

.searchclear {
	position: absolute;
	right: 6px;
	top: 6px;
	bottom: 0;
	margin: 0;
	height: 14px;
	font-size: 13px;
	cursor: pointer;
	color: #ccc;
}

.forRedis {
	.searchBar {
		float: left;
		width: calc(100% - 97px);
		margin-right: -4px;
	}
	
}

.forTables {
	.searchclear {
		right: 20px;
	}
	.searchBar .form-control { 
		padding-right: 32px;
	}
}

.forTables {
	#alertArea, #errorNotification {
		display: none;
	}
}

.clearFloat {
	clear: both;
}

