<div class="container">
    <div class="metro grid">
        <bg-splitter orientation="horizontal">
            <bg-pane min-size="64" init-percentage="26.2">
                <div class="wrapLeftBlock">
                    <div class="headBlock">
                        <div class="collapse navbar-collapse" id="navbarFunction">
                            <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'blobs'">
                                <li ng-show="ActionBarItems.IsSettingsVisible">
                                    <div class="functionButton">
                                        <a class="fa-links" title="Account storage" ng-click="ActionBarItems.changeSettings()">
                                            <i class="fa fa-cog"></i><br /><span>Setting</span>
                                        </a>
                                    </div>
                                </li>
                                <li ng-show="ActionBarItems.IsRefreshVisible">
                                    <div class="functionButton">
                                        <a class="fa-links" title="Refresh" ng-click="ActionBarItems.refresh()">
                                            <i class="fa fa-refresh"></i><br /><span>Refresh</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bodyLeftBlock">
                        <div ui-grid="containerOptions" ui-grid-auto-resize ui-grid-selection ng-style="containerOptions.getStyle()"></div>
                    </div>
                </div>
            </bg-pane>

            <bg-pane min-size="50">
                <div class="wrapRightBlock">
                    <div class="headBlock">
                        <div class="collapse navbar-collapse" id="navbarFunction">
                            <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'blobs'">
                                <li ng-click="ActionBarItems.blobsViewModel.showImage()" ng-show="ActionBarItems.blobsViewModel.blobOptions.selectedBlob !== null">
                                    <div class="functionButton">
                                        <a class="fa-links" title="View the image">
                                            <i class="fa fa-picture-o"></i><br /><span>Image</span>
                                        </a>
                                    </div>
                                </li>
                                <li ng-click="ActionBarItems.blobsViewModel.showText()" ng-show="ActionBarItems.blobsViewModel.blobOptions.selectedBlob !== null">
                                    <div class="functionButton">
                                        <a class="fa-links" title="View the text">
                                            <i class="fa fa-file-text-o"></i><br />
                                            <span>Text</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="delimiter-tiles" ng-show="ActionBarItems.blobsViewModel.blobOptions.selectedBlob !== null"></li>
                                <li ng-click="ActionBarItems.blobsViewModel.download()" ng-show="ActionBarItems.blobsViewModel.blobOptions.selectedBlob !== null">
                                    <div class="functionButton">
                                        <a class="fa-links" title="Download the blob">
                                            <i class="fa fa-download"></i><br /><span>Download</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bodyRightBlock">
                        <div class="searchBar">
                            <div class="saerchText">
                                <input ng-model="ActionBarItems.SearchViewModel.Pattern" ng-change="ActionBarItems.SearchViewModel.onChange()" ng-enter="ActionBarItems.SearchViewModel.search()"
                                       ng-ctrl-enter="ActionBarItems.SearchViewModel.search()" type="text" class="form-control"
                                       autofocus />
                                <span id="searchclear" class="searchclear glyphicon glyphicon-remove-circle" ng-click="ActionBarItems.SearchViewModel.clear()"
                                      ng-show="ActionBarItems.SearchViewModel.IsClearVisible"></span>
                            </div>
                            <span class="functionButton">
                                <a class="fa-links" title="Search" ng-click="ActionBarItems.SearchViewModel.search()">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                            <div class="clearFloat"></div>
                        </div>

                        <div ui-grid="blobOptions" ui-grid-auto-resize ui-grid-selection ng-style="blobOptions.getStyle()"></div>
                    </div>
                </div>

            </bg-pane>
        </bg-splitter>

    </div>
</div>


<script type="text/ng-template" id="blobsSettingsTemplate">
    <div class="input-group input-group-sm">
        <label>Provide credentials to access your Blob storage</label>
    </div>

    <div class="input-group input-group-sm">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">Account Url</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountUrl" class="form-control" />
        </div>

        <div class="input-group input-group-sm">
            <span class="input-group-addon">Account Name</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountName" class="form-control" />
        </div>

        <div class="input-group input-group-sm">
            <span class="input-group-addon">Account Key</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountKey" class="form-control" />
        </div>
    </div>
    <label class="checkbox" ng-show="DialogViewModel.WithOption">
        <input type="checkbox" style="float:left;" ng-model="DialogViewModel.IsChecked" ng-change="DialogViewModel.onChecked()">
        <span class="checkbox-label">{{DialogViewModel.OptionText}}</span>
    </label>
    <div class="btn-group" ng-disabled="DialogViewModel.AreButtonsDisabled">
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.save()" ng-show="DialogViewModel.IsSaveVisible">Save</button>
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="blobImage">
    <img data-ng-src="data:image/png;base64,{{DialogViewModel.BodyViewModel.source}}"  class="input-group input-group-sm"/>
    
    <div class="btn-group" ng-disabled="DialogViewModel.AreButtonsDisabled">
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.save()" ng-show="DialogViewModel.IsSaveVisible">Save</button>
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="blobText">
    <textarea class="details-textarea" ng-model="DialogViewModel.BodyViewModel.source" />
    
    <div class="btn-group" ng-disabled="DialogViewModel.AreButtonsDisabled">
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.save()" ng-show="DialogViewModel.IsSaveVisible">Save</button>
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.cancel()">Cancel</button>
    </div>
</script>