<div class="metro grid" >
    <bg-splitter orientation="horizontal">
        <bg-pane min-size="64" init-percentage="26.2">
            <div class="wrapLeftBlock">
                <div class="headBlock">
                    <div class="collapse navbar-collapse" id="navbarFunction">
                        <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'tables'">
                            <li ng-show="ActionBarItems.IsSettingsVisible">
                                <div class="functionButton">
                                    <a class="fa-links" title="Account storage" ng-click="ActionBarItems.changeSettings()">
                                        <i class="fa fa-cog"></i><br /><span>Setting</span>
                                    </a>
                                </div>
                            </li>
                            <li ng-show="ActionBarItems.IsRefreshVisible">
                                <div class="functionButton">
                                    <a class="fa-links" title="Refresh table list" ng-click="ActionBarItems.refresh()">
                                        <i class="fa fa-refresh"></i><br /><span>Refresh</span>
                                    </a>
                                </div>
                            </li>
                            <li class="delimiter-tiles"></li>
                            <li>
                                <div class="functionButton">
                                    <a class="fa-links" title="Create new table" ng-click="ActionBarItems.createTable()">
                                        <i class="fa fa-table"></i><br /><span>Create</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="functionButton">
                                    <a class="fa-links" title="Delete selected table" ng-click="ActionBarItems.deleteTable()">
                                        <i class="fa fa-trash-o"></i><br /><span>Delete</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bodyLeftBlock">
                    <!-- <i class="fa fa-th-large"></i><span id="accountName">{{TablesViewModel.Settings.AccountName}}</span> -->
                    <ul id="tableList">
                        <li ng-repeat="table in TableSelectViewModel.Tables"
                            ng-click="TableSelectViewModel.onSelectedTableChanged(table)"
                            ng-class="{selected: table === TableSelectViewModel.SelectedTable}"><i class="fa fa-table"></i>{{table}}</li>
                    </ul>
                </div>
            </div>
        </bg-pane>
        <bg-pane min-size="150">
            <div class="wrapRightBlock">
                <div class="headBlock">
                    <div class="collapse navbar-collapse" id="navbarFunction">
                        <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'tables'">
                            <!--<li>
                                <div class="functionButton">
                                    <a class="fa-links" title="Add entity" ng-click="ActionBarItems.createTableEntity()">
                                        <i class="fa fa-plus-circle"></i><br /><span>Entity</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="functionButton">
                                    <a class="fa-links" title="Delete entity" ng-click="ActionBarItems.deleteTableEntity()">
                                        <i class="fa fa-minus-circle"></i><br />
                                        <span>Entity</span>
                                    </a>
                                </div>
                            </li>-->
                            <li ng-show="ActionBarItems.Continuation != null">
                                <div class="functionButton">
                                    <a class="fa-links" title="Load more" ng-click="ActionBarItems.loadMore()">
                                        <i class="fa fa-play-circle"></i><br /><span>Entities</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <i class="fa fa-table"></i>
                    <span id="tableName">
                        {{
                        (TablesViewModel.TableSelectViewModel.SelectedTable == null ? '' : TablesViewModel.TableSelectViewModel.SelectedTable)
                        + " " + (TablesViewModel.entries == null || TablesViewModel.entries.length == 0? '' : TablesViewModel.entries.length + ' loaded')}}
                    </span> -->
                </div>
                <div class="bodyRightBlock">
                    <div class="searchBar" ng-controller="ActionBarController" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'tables'">
                        <div ng-show="ActionBarItems.IsSearchVisible">
                            <div class="saerchText">
                                <textarea ng-model="ActionBarItems.SearchViewModel.Pattern"
                                          ng-change="ActionBarItems.SearchViewModel.onChange()"
                                          ng-ctrl-enter="ActionBarItems.SearchViewModel.search()"
                                          type="text"
                                          class="form-control"
                                          placeholder="PartitionKey eq 'xxx' and RowKey eq 'yyy'"
                                          id="filterArea"
                                          autofocus></textarea>

                                <span id="searchclear" class="searchclear glyphicon glyphicon-remove-circle" ng-click="ActionBarItems.SearchViewModel.clear()" ng-show="ActionBarItems.SearchViewModel.IsClearVisible"></span>

                            </div>
                            <span class="functionButton">
                                <a class="fa-links" title="Search" ng-click="ActionBarItems.SearchViewModel.search()">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>

                            <div class="clearFloat"></div>
                        </div>
                    </div>

                    <div class="dt-buttons"></div>
                    <table id="tables" class="table striped hovered dataTable"></table>
                </div>
            </div>
        </bg-pane>
    </bg-splitter>
</div>

<script type="text/ng-template" id="tablesSettingsTemplate">
    <div class="input-group input-group-sm">
        <label>Provide credentials to access your Azure Table storage</label>
    </div>

    <div class="input-group input-group-sm">
        <!--<div class="input-group input-group-sm">
            <span class="input-group-addon">Account Url</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountUrl" class="form-control" />
        </div>-->

        <div class="input-group input-group-sm">
            <span class="input-group-addon">Account Name</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountName" class="form-control" />
        </div>

        <div class="input-group input-group-sm">
            <span class="input-group-addon">Account Key</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountKey" class="form-control" />
        </div>
    </div>
    <!--<label class="checkbox" ng-show="DialogViewModel.WithOption">
        <input type="checkbox" style="float:left;" ng-model="DialogViewModel.IsChecked" ng-change="DialogViewModel.onChecked()">
        <span class="checkbox-label">{{DialogViewModel.OptionText}}</span>
    </label>-->

    <div style="float:left; margin-top: 10px">
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.import()">Import</button>
    </div>
    <div class="btn-group" ng-disabled="DialogViewModel.AreButtonsDisabled">
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.save()" ng-show="DialogViewModel.IsSaveVisible">Save</button>
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="createTableTemplate">
    <div class="input-group input-group-sm">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">Table Name</span>
            <input ng-model="DialogViewModel.BodyViewModel.TableName" class="form-control" />
        </div>
        <div class="input-group input-group-sm"
             ng-show="DialogViewModel.BodyViewModel.ErrorMessage !== undefined && DialogViewModel.BodyViewModel.ErrorMessage !== null">
            {{ DialogViewModel.BodyViewModel.ErrorMessage }}
        </div>
    </div>

    <label class="checkbox" ng-show="DialogViewModel.WithOption">
        <input type="checkbox" style="float:left;" ng-model="DialogViewModel.IsChecked" ng-change="DialogViewModel.onChecked()">
        <span class="checkbox-label">{{DialogViewModel.OptionText}}</span>
    </label>
    <div class="btn-group" ng-disabled="DialogViewModel.AreButtonsDisabled">
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.save()" ng-show="DialogViewModel.IsSaveVisible">Save</button>
        <button type="button" class="btn btn-default" ng-click="DialogViewModel.cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="createTableEntityTemplate">
    <div id="createTableEntity">
        <div class="input-group input-group-sm actionRows">
            <label>Fill in the fields to create a new entity</label>
            <span class="tileFunction">
                <a class="fa-links" title="Delete selected rows">Delete</a>
            </span>
            <span class="tileFunction">
                <a class="fa-links" title="Add row">Add row</a>
            </span>
        </div>
        <div class="wrapListFields">
            <div>
                <ul ng-repeat="property in DialogViewModel.BodyViewModel.TableProperties">
                    <li class="input-group input-group-sm">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="DialogViewModel.IsChecked" ng-change="DialogViewModel.onChecked()" />
                            <span class="checkbox-label"></span>
                        </label>
                        <div class="input-group input-group-sm">
                            <input class="input-group-addon" value="{{property.Key}}" />
                            <input ng-model="property.Value" class="form-control" />
                            <select ng-model="property.Type.Selected" ng-options="type as type for type in property.Type.Types"></select>
                        </div>
                    </li>
                </ul>
                <div class="input-group input-group-sm"
                     ng-show="DialogViewModel.BodyViewModel.ErrorMessage !== undefined && DialogViewModel.BodyViewModel.ErrorMessage !== null">
                    {{ DialogViewModel.BodyViewModel.ErrorMessage }}
                </div>
            </div>
        </div>

        <label class="checkbox" ng-show="DialogViewModel.WithOption">
            <input type="checkbox" style="float:left;" ng-model="DialogViewModel.IsChecked" ng-change="DialogViewModel.onChecked()">
            <span class="checkbox-label">{{DialogViewModel.OptionText}}</span>
        </label>
        <div class="btn-group" ng-disabled="DialogViewModel.AreButtonsDisabled">
            <button type="button" class="btn btn-default" ng-click="DialogViewModel.save()" ng-show="DialogViewModel.IsSaveVisible">Save</button>
            <button type="button" class="btn btn-default" ng-click="DialogViewModel.cancel()">Cancel</button>
        </div>
    </div>
</script>